# .gitignore file for oberon-epo
# ------------------------------

## ingnore all
/*
*.*

# add .gitgnore
!.gitignore

# set dirs
!/lib-base/
!/arty-a7-100-base/
/arty-a7-100-base/fpga/build/*
!/arty-a7-100-base/fpga/

!/arty-a7-100-base/oberon/

!/arty-a7-100-calltrace/
!/arty-a7-100-calltrace/fpga/
/arty-a7-100-calltrace/fpga/build/*
!/arty-a7-100-calltrace/oberon/

!/cv-sk-base/
!/cv-sk-base/fpga/
/cv-sk-base/fpga/build/*
!/cv-sk-base/oberon/
!/cv-sk-base/doc/


## add files
!*.mod
!*.md
!*.v
!*.xdc
!*.mem
!*.sdc
!*.qsf
!*.ini
!*.pdf

# Vivado project files
!*.xpr

# Quartus project files
!*.qpf
